@charset "utf-8";
/* CSS Document */


/*
// cuando la barra es fija
body{
	min-height:2000px;
}
.navbar-static-top {
	margin-bottom: 19px;
	min-height:2000px;
}*/
html{
  position:relative;
  min-height:100%;
}

body{
	/*min-height:2000px;*/
	/*padding-top:70px;/*para nav-fixed-top*/
	/*margin-bottom: 60px;alto del footer*/
	/*margin-bottom:60px;*/
	margin-top:70px;
	margin-bottom:60px;
}


.footer{
	position:absolute;
	bottom:0;
	width:100%;
	/* Set the fixed height of the footer here */
	height:60px;
	background-color: #f5f5f5;
	/*background:#6FF;*/
}

.footer > .container{
	padding:20px 15px 0px;
}
.footer p{
	padding:0px;
	margin:0px;
}

.table th, td{
	text-align:center;
}